/* --------------------------------------------------------
Style Sheet for HTML/CSS part 3, CodeWithMosh.com FINAL PROJECT - MOSHIFY
version: 1.0.0
last modified: 2.19.2021 by Brian Kidd
author: Brian Kidd
email: brian.kidd.one@gmail.com
website: briankiddmedia.com
-----------------------------------------------------------*/
