/* --------------------------------------------------------
Style Sheet for HTML/CSS part 3, CodeWithMosh.com FINAL PROJECT - MOSHIFY
version: 1.0.0
last modified: 2.19.2021 by Brian Kidd
author: Brian Kidd
email: brian.kidd.one@gmail.com
website: briankiddmedia.com
-----------------------------------------------------------*/
:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-headings: #1b0760;
  --color-body: #918ca4;
}
